/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;
$azure:#00cccc;
$bg-azure:rgba(0, 204, 204, 0.1);
$black-light :#4B4847;
$yellow:#ffcc00;
/* Components */
