.insurance-container {
  &__details {
    &-subheading {
      font-weight: 700;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      text-align: center;
      margin-top: 1rem;

      color: $light-black;
    }
    &-img 
    {

    }
  }
}
